<div class="page-header">
  <h1>
    <%= @user.username + "'s " if @user.present? %>Quotes List
    <%= "<small>Tagged with: #{params[:tag]}</small>".html_safe if params[:tag].present? %>
  </h1>
</div>
<div class="row">
  <div class="span12">
    <% @quotes.each do |quote| %>
      <p>
        <blockquote><%= link_to quote.body, quote %></blockquote>        
      </p>
      <div align="right">
        <p>
          <i><%= quote.reference %></i><br />
          Quoted by <%= link_to quote.user.username, quotes_path(user_id: quote.user.id)%><br />
          <% if user_signed_in? && quote.user_id == current_user.id -%>
            <%= link_to 'Edit', edit_quote_path(quote), class: "btn small primary" %>
            <%= link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete,class: "btn small primary" %>
          <% end -%>
        </p>
      </div>
      <div class="page-header", style="margin-top: 10px">
      </div>
    <% end %>
    <%= paginate @quotes %>
  </div>
  <div class="span4">
    <%= render 'sidebar' %>
  </div>
</div>

