<div class="fill">
  <div class="container">
    <h3><%= link_to "Social Quotes", root_path %></h3>
    <ul class="nav secondary-nav">
      <% if user_signed_in? -%>
        <li><%= link_to "Settings" , edit_user_registration_path  %></li>
        <li><%= link_to "Logout", destroy_user_session_path , :method => :delete %></li>
      <% else -%>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div> <!-- /fill -->
